<div layout="row" flex>

    <div layout="vertical" >
		<!-- main navbar -->

		 <!-- Container #2 -->


             <md-sidenav class="md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')"
                     layout="column">
              <md-toolbar>
                <h1>Contacts</h1>
              </md-toolbar>
              <div layout-padding style="padding: 8px 8px 12px 8px">
                <md-autocomplete
                  md-search-text="searchText"
                  md-items="item in users | filter:searchText"
                  md-item-text="item.name"
                  placeholder="Search">
                  <md-item-template>
                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
                  </md-item-template>
                  <md-not-found>
                    No user matching "{{searchText}}" were found.
                  </md-not-found>
                </md-autocomplete>
              </div>
              <md-content flex class="scrollable-nav-content">
                <md-list>
                  <md-list-item ng-repeat="user in users | filter:searchText | orderBy:'name'">
                    <md-button ng-click="selectUser(user)"
                               ng-class="{'selected': user === selected }">
                      <md-icon md-svg-icon="{{user.avatar}}" class="avatar"></md-icon>
                      {{user.name}}
                    </md-button>
                  </md-list-item>
                </md-list>
              </md-content>
              <md-button class="md-fab md-fab-bottom-right" ng-click="addUser($event)" aria-label>
                <md-icon md-svg-icon="add" ng-click=""></md-icon>
              </md-button>
            </md-sidenav>

    </div>

    <div flex layout="column">


        <md-toolbar layout="row" class="md-toolbar-tools ">
		    <md-button class="menu md-icon-button" hide-gt-sm ng-click="toggleUsersList()"
		               aria-label="Show User List">
		      <md-icon md-svg-icon="menu"></md-icon>
		    </md-button>
		    <h1>Phonebook</h1>

            <span flex></span>

            <h3> {{users[0].user.username}} </h3>

            <md-button class="md-fab " ng-click="logout()" aria-label  >

                <md-icon md-svg-icon="logout" ng-click="logout()"></md-icon>
              </md-button>
		 </md-toolbar>

		    <!-- Container #4 -->
		    <md-content flex id="content">

		     <md-card flex-gt-sm="100" flex-gt-md="100">
                    <md-card-content>
                      <h2>{{selected.name | uppercase}}</h2>

                        <md-item >
                          <md-item-content>
                            <div class="md-tile-left inset">
                                   <md-icon md-svg-icon="{{selected.avatar}}" class="avatar"></md-icon>
                            </div>
                            <div class="md-tile-content" >


                 <md-list >
                  <md-list-item layout-xs="column">
                    <md-button flex="100">
                      <md-icon md-svg-icon="email"></md-icon><h4>{{selected.email}}</h4>
                    </md-button>

                    <md-button flex="100">
                      <md-icon md-svg-icon="phone"></md-icon><h4>{{selected.phone_number}}</h4>
                    </md-button>
                    <md-button flex="100">
                      <md-icon md-svg-icon="dob"></md-icon><h4>{{selected.date_of_birth}}</h4>
                    </md-button>
                  </md-list-item>
                </md-list>

                            </div>

                          </md-item-content>

                        </md-item>


                        <md-card-actions layout="row" layout-align="end center">
                          <md-button ng-disabled="true" class="md-raised">Edit</md-button>
                            <md-button class="md-raised md-primary" ng-click="removeUser(selected)">Delete</md-button>
                        </md-card-actions>


                    </md-card-content>
                  </md-card>

		    </md-content>

	  	</div>

</div>