{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app='try'>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact book</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css" />
	<link rel="stylesheet" type="text/css" href="https://material.angularjs.org/1.1.1/docs.css" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
      <link rel='stylesheet' href='{% static "css/base.css" %}'>



	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
      <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.min.js'></script>
      <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js'></script>
	<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
	<script type="text/javascript" src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.min.js'></script>

    <!-- Markdown libs -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.3/showdown.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.js'></script>
    <script src='{% static "js/external/ng-showdown.js" %}' ></script>


    <script src='{% static "js/external/dirPagination.js" %}' ></script>
    <script src='{% static "js/app/app.module.js" %}' ></script>
    <script src='{% static "js/app/app.config.js" %}' ></script>




    <script src='{% static "js/app/contact-list/contact-list.module.js" %}' ></script>
    <script src='{% static "js/app/contact-list/contact-list.component.js" %}' ></script>
    <script src='{% static "js/app/login-detail/login-detail.module.js" %}' ></script>
    <script src='{% static "js/app/login-detail/login-detail.component.js" %}' ></script>

    <script src='{% static "js/app/logout-detail/logout-detail.module.js" %}' ></script>
    <script src='{% static "js/app/logout-detail/logout-detail.component.js" %}' ></script>


    <script src='{% static "js/app/register-detail/register-detail.module.js" %}' ></script>
    <script src='{% static "js/app/register-detail/register-detail.component.js" %}' ></script>




    <style>
    .new-class {
        font-size: 72px;
    }
    .other-class {
        font-size: 32px;
    }
    .new-class2 {
        font-size: 120px;
    }
    </style>
  </head>
  <body ng-view ng-cloak>



  </body>
</html>






